<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Redfalg</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>


		<!-- Iconos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		

		<!-- Nav  principal-->
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">		
							
							<li><a href="perfil.html">Perfil</a>
								<i class="bi bi-person-fill"></i>
							</li>					
						
							<li><a href="cart.html">Your Cart</a>
								<i class="bi bi-bag-dash-fill"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Nav Secundario -->

		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<nav id="menu" class="pull-right">
						<ul>

							<li><a href="./products.html">Inicio</a></li>			

							<li><a href="./products.html">Tienda</a>					
								<ul>
									<li><a href="./products.html">Hombres</a></li>									
									<li><a href="./products.html">Mujeres</a></li>
								</ul>
							</li>		
							<li><a href="./products.html">Ayuda</a></li>
						</ul>
					</nav>
				</div>
			</section>

<!-- Seccion de carrucel contenido texto -->
<section  class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="themes/images/carousel/banner-1.jpg" alt="g" />
            </li>
            <li>
                <img src="themes/images/carousel/banner-2.jpg" alt="" />
                <div class="intro">
                    <h1>VENTA DE MITAD DE TEMPORADA
                    </h1>
                    <p><span>Hasta un 50% de descuento
                    </span></p>
                    <p><span>En artículos seleccionados en línea y en tiendas
                    </span></p>
                </div>
            </li>
        </ul>
    </div>			
</section>

			<!-- Texto del carrucel  -->
			<section class="header_text">
				Juega con tu estilo, crea una combinación de tu ropa con tu sentir y complementa con una sonrisa ¡Oh la la!
			</section>

            <section class="main-content">

                <div class="container page-content">
			
                    <section class="detalle-servicio">
                        <div class="icono">
                            <figure class="icono-servicio">
                                <img src="./themes/images/icono-consultoria.svg" alt="Diseño" />
                            </figure><!-- /.icono-servicio -->
                        </div><!-- /.icono -->
                        <div class="text">
                            
                            <h2>Consultoría</h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed convallis neque. Suspendisse quis tincidunt enim. Aenean consectetur nisi ut justo venenatis, sit amet vehicula ipsum mollis.</p>
                            <p>Praesent a est iaculis, pellentesque magna at, facilisis nulla. Pellentesque eget erat sollicitudin, vulputate velit a, convallis nisl. Suspendisse semper lacus ut risus euismod, a dictum elit laoreet.</p>
                            <p>Praesent ut sapien tincidunt, consectetur metus id, euismod justo. Integer consequat volutpat felis, a dapibus augue auctor a. Vivamus dictum vehicula lacus quis dictum.</p>
                        </div><!-- /.text -->
                    </section><!-- /.detalle-servicio -->
                    
                    
                    
                    <section class="detalle-servicio">
                        <div class="icono">
                            <figure class="icono-servicio">
                                <img src="./themes/images/icono-consultoria.svg" alt="Diseño" />
                            </figure><!-- /.icono-servicio -->
                        </div><!-- /.icono -->
                        <div class="text">
                            
                            <h2>Diseño</h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed convallis neque. Suspendisse quis tincidunt enim. Aenean consectetur nisi ut justo venenatis, sit amet vehicula ipsum mollis.</p>
                            <p>Praesent a est iaculis, pellentesque magna at, facilisis nulla. Pellentesque eget erat sollicitudin, vulputate velit a, convallis nisl. Suspendisse semper lacus ut risus euismod, a dictum elit laoreet.</p>
                            <p>Praesent ut sapien tincidunt, consectetur metus id, euismod justo. Integer consequat volutpat felis, a dapibus augue auctor a. Vivamus dictum vehicula lacus quis dictum.</p>
                        </div><!-- /.text -->
                    </section><!-- /.detalle-servicio -->
                    
                    
                    <section class="detalle-servicio">
                        <div class="icono">
                            <figure class="icono-servicio">
                                <img src="./themes/images/icono-consultoria.svg" alt="Diseño" />
                            </figure><!-- /.icono-servicio -->
                        </div><!-- /.icono -->
                        <div class="text">
                            
                            <h2>Desarrollo</h2>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed convallis neque. Suspendisse quis tincidunt enim. Aenean consectetur nisi ut justo venenatis, sit amet vehicula ipsum mollis.</p>
                            <p>Praesent a est iaculis, pellentesque magna at, facilisis nulla. Pellentesque eget erat sollicitudin, vulputate velit a, convallis nisl. Suspendisse semper lacus ut risus euismod, a dictum elit laoreet.</p>
                            <p>Praesent ut sapien tincidunt, consectetur metus id, euismod justo. Integer consequat volutpat felis, a dapibus augue auctor a. Vivamus dictum vehicula lacus quis dictum.</p>
                        </div><!-- /.text -->
                    </section><!-- /.detalle-servicio -->
                    
                                
                </div><!-- /.content -->



            </section>

    </body>
</html>