<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Redfalg</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

		
		<!-- Iconos -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

		<!-- scripts -->
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
			<!-- Nav  principal-->
			<div id="top-bar" class="container">
				<div class="row">
					<div class="span4">
						<form method="POST" class="search_form">
							<a href="index.html" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
						</form>
					</div>
					<div class="span8">
						<div class="account pull-right">
							<ul class="user-menu">		
								
								<li><a href="perfil.html">Perfil</a>
									<i class="bi bi-person-fill"></i>
								</li>					
							
								<li><a href="cart.html">Your Cart</a>
									<i class="bi bi-bag-dash-fill"></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	
			<!-- Nav Secundario -->
	
			<div id="wrapper" class="container">
				<section class="navbar main-menu">
					<div class="navbar-inner main-menu">				
						<nav id="menu" class="pull-right">
							<ul>
	
								<li><a href="./products.html">Inicio</a></li>			
	
								<li><a href="./products.html">Tienda</a>					
									<ul>
										<li><a href="./products.html">Hombres</a></li>									
										<li><a href="./products.html">Mujeres</a></li>
									</ul>
								</li>		
								<li><a href="./ayuda.html">Ayuda</a></li>
							</ul>
						</nav>
					</div>
				</section>		

<!-- Iniciar seccion -->
			<section class="header_text sub">
			<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" >
				<h4><span>LOGIN O REGISTRO</span></h4>
			</section>			
			<section class="main-content">				
				<div class="row">
					<div class="span5">					
						<h4 class="title"><span class="text"><strong>INICIAR</strong> SECION</span></h4>
						<form action="#" method="post">
							<input type="hidden" name="next" value="/">
							<fieldset>
								<div class="control-group">
									<label class="control-label">Usuario</label>
									<div class="controls">
										<input type="text" placeholder="Ingrese su usuario" id="username" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Contraseña</label>
									<div class="controls">
										<input type="password" placeholder="Ingrese su contraseña" id="password" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<input tabindex="3" class="btn btn-inverse large" type="submit" value="Iniciar seccion">
									<hr>
									<p class="reset">Recupera tu <a tabindex="4" href="#" title="Recupera nombre de usuario o contraseña">nombre de usuario o contraseña</a></p>
								</div>
							</fieldset>
						</form>				
					</div>
					
					<!-- Registrarce -->
					<div class="span7">					
						<h4 class="title"><span class="text"><strong>Registrarce</strong></h4>
						<form action="#" method="post" class="form-stacked">
							<fieldset>
								<div class="control-group">
									<label class="control-label">Nombre de usuario</label>
									<div class="controls">
										<input type="text" placeholder="Ingresa tu usuario" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Dirección de correo electrónico:
										:</label>
									<div class="controls">
										<input type="password" placeholder="Ingresa tu correo electronico" class="input-xlarge">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Contraseña:</label>
									<div class="controls">
										<input type="password" placeholder="Ingresa tu contraseña" class="input-xlarge">
									</div>
								</div>							                            
							
								<div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="Crear cuenta"></div>
							</fieldset>
						</form>					
					</div>				
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navegacion</h4>
						<ul class="nav">
							<li><a href="./index.html">Inicio</a></li>  
							<li><a href="./about.html">Perfil</a></li>
							<li><a href="./contact.html">Tienda</a></li>
							<li><a href="./cart.html">Carrito</a></li>
						</ul>					
					</div>
					<div class="span4">
						<h4>PERFIL</h4>
						<ul class="nav">
							<li><a href="#">Mi Cuenta</a></li>
							<li><a href="#">Historial de compras</a></li>
							<li><a href="#">Lista de deseos</a></li>
							<li><a href="#">Contactos</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
						<p>La ropa es tu armadura y la moda tu espada, juntas son las armas necesarias para enfrenar el día a día.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout.html";
				})
			});
		</script>		
    </body>
</html>